.bottom {
  margin-bottom: 10px;
}

.vert-center {
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  margin-top: 20px;
}

.nav-link {
  font-weight: bold;
}

.nav-link:target {
  color: #6600cc;
}

.navbar {
  margin-top: -20px;
}

.border {
  border: 1px solid black
}


.sidebar {
  margin-left: -20px
}

.footer {
  color: #333;
  background-color: white;
  margin-top: 50px;
  opacity: 0.5;
}

.all {
  background-color: rgba(255, 255, 255, 0.2);
}

#im-here {
  color: #6600cc;
}